@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --darkPrimary: #011c3b;
  --primary: #02234a;
  --green1: #5AA7A7;
  --green2: #96D7C6;
  --brightGreen1: #BAC94A;
  --brightGreen2: #E2D36B;
  --blue: #6C8CBF;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: #01152c;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  place-content: center;
  flex-direction: column;
}


::selection {
  background: var(--green1);
  color: white;
}

::-moz-selection {
  background: var(--green1);
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #5aa7a779;
}

.truncate-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.header-shadow {
  box-shadow: 10px 7px 20px #96d7c61e;
}

.box-shadow {
  box-shadow: 10px 5px 25px #191a1965;
  transition: all 500ms ease-in-out;
}

.box-shadow:hover {
  box-shadow: 10px 5px 25px #96d7c61e;
}

.box-shadow-2 {
  box-shadow: 10px 2px 25px #191a1965;
}

.box-shadow-3 {
  /* box-shadow: 10px 5px #ffffff65; */
  transition: all 500ms ease-in-out;
}

.box-shadow-3:hover {
  box-shadow: 0.7rem -0.7rem 0rem 0.2rem #96d7c685, 0 0 0rem 0.4rem var(--blue), -0.7rem 0.7rem 0rem 0.2rem var(--brightGreen1);

}

.box-shadow-4 {
  box-shadow: 5px 5px #ffffff65;
}

.box-shadow-4:hover {
  box-shadow: 0.7rem -0.7rem 0rem 0.2rem #96d7c6a0, 0 0 0rem 0.4rem var(--blue), -0.7rem 0.7rem 0rem 0.2rem var(--brightGreen1);
}

/* .box-shadow-5 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
} */

.box-shadow-5 {
  box-shadow: 0px 7px 6px #27272716, 0px 5px 10px #1d1c1c16;
}

.background {
  min-height: calc(100vh - 1rem);
  height: 100%;
}

.slide-in {
  animation: slide-in 700ms ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slide-out {
  animation: slide-out 700ms ease-in-out forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* React quill customizations */
.ql-snow .ql-stroke {
  stroke: white
}

.ql-snow .ql-stroke:hover {
  stroke: #bfbfbf !important;
}

.ql-toolbar {
  background-color: #02224a9d;
  border: none !important;
}

.ql-picker {
  /* background-color: #01152c; */
}

.ql-picker-label,
.ql-picker-item {
  /* color: white; */
  /* background-color: #01152c; */
  stroke: white;
}

.ql-picker-label:hover,
.ql-picker-item:hover {
  color: #bfbfbf !important;
}

.ql-picker-label:hover,
.ql-picker-item:hover {
  color: white;
  stroke: white;
}

.ql-editor h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
}

.ql-editor h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.ql-editor h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}

.ql-editor::before {
  color: #9ca3af;
  font-style: italic;
}

.ql-container {
  height: 55vh;
}

.ql-container.ql-snow {
  border: none;
  font-size: 1.3rem;
  color: white;
}

.ql-editor {
  min-height: 50vh;
  overflow-y: auto;
  /* background: var(--brightGreen1); */
}

/* 
  screens: {
      xs: "240px",
      sm: "480px",
      md: "768px",
      lg: "1024px",
      xl: "1280px",
      xxl: "1440px",
    },
*/


@media (min-width: 240px) {
  html {
    /* font-size: 40%; */
  }
}

@media (min-width: 480px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1440px) {
  html {
    /* font-size: 40%; */
  }
}